@model software_architect.Models.LuceneViewModel

@{
    ViewBag.Title = "Lucene Search Service";
}
<h2>Lucene faceted search prototype</h2>

<div class="col-md-3">
    <form action="~/Lucene/Index">
        @foreach (var filter in Model.Filter)
        {
            <div class="row">@filter.FilterName</div>

            foreach (var item in filter.Items)
            {
                if (item.IsQueried)
                {
                    <label><input type="checkbox" value="@item.Value" name="@filter.FilterName" checked>@item.Label (@item.Hits)</label>
                }
                else
                {
                    <label><input type="checkbox" value="@item.Value" name="@filter.FilterName">@item.Label (@item.Hits)</label>
                }
                <br />
            }

            <br />
        }

        <input type="submit" />
    </form>
</div>

<div class="col-md-9 container">
    <table>
        @foreach (var row in Model.Rows)
        {
            <tr>
                @foreach (var val in row.Fields)
                {
                    <td style="width: 150px">@val.Value</td>
                }
            </tr>
        }
    </table>
</div>